{% extends 'base.html.twig' %}

{% block body %}

<h1> Categoría </h1>
<ul>
	{% for categoria in categorias %}
	<li> {{ categoria.nombre}} </li>
	{% endfor %}
</ul>
<a href="{{ path('categoria_nuevo') }}"> Añadir categoría </a>

{% endblock %}
