{% extends 'base.html.twig' %}

{% block title %} 
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1> LOCALIDADES </h1>
    <ul>
	    {% for localidad in localidades %}
	        <li>{{ localidad|capitalize }}</li>
	    {% endfor %}
	</ul>
</div>


{% endblock %}
